<article ng-controller="teamCtrl">
<div class="container-fluid main-content-container">
   
   <center>
  
 		<div id="penrose" style="height:520px; width:500px; background-image:url(images/penrose.png); background-position:center; background-size:150px; background-repeat:no-repeat;">
     		
            <div id="ring" style="background-image:url(images/ring.png); background-size:contain; ">
        
        	</div>
        </div>
  		
    	<h1 style="font-family:fontengi !important; font-size:100px; color:white; margin-top:-60px;">engineer</h1>
    	
  	</center>

</div>
</article>




  	