<article ng-controller="teamCtrl">
<div class="container-fluid main-content-container">

    <button type="button" class="sidebar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
   
   <div class="row">

       <div class="col-lg-3 col-md-3">
       </div>

       <div class="col-lg-6 col-md-6">

            <center>
  
 		        <div id="penrose" style="height:480px; width:480px; background-image:url(images/penrose.png); background-position:center; background-size:145px; background-repeat:no-repeat;">
     		
                    <div id="ring" style="background-image:url(images/ring.png); background-size:contain; ">
        
        	        </div>
                </div>
  		
    	        <h1 style="font-family:fontengi !important; font-size:95px; color:white; margin-top:-40px;">engineer</h1>
    	
  	        </center>
   
       </div>

       <div class="col-lg-3 col-md-3">

       <center>
            <ul style="list-style:none;vertical-align:middle;">
              <li><a href="#">Home</a></li>
              <li><a href="#">Menu 1</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 3</a></li>
            </ul>
       </div>
       </center>
    
   </div>

</div>
</article>




  	