<div id="top-bar">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <button type="button" class="sidebar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="images/logos/engi-black.png" style="height: 80px; padding:10px;" />
        </div>
        <div class="col-lg-6 col-md-6" style="text-align:right; height:80px; padding:10px;">
            <ul class="topbar">
                <li><a href="index.html">HOME</a></li>
                <li><a href="events.html">EVENTS</a></li>
                <li><a href="competitions.html">COMPETITIONS</a></li>
                <li><a href="sponsors.html">SPONSORS</a></li>
                <li><a href="team.html">TEAM</a></li>
            </ul>
        </div>
    </div>
</div>
</div>